---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';
import LightSwitch from '../components/LightSwitch.astro';
import Projects from '../components/Projects.astro';
import Music from '../components/Music.astro';
import About from '../components/About.astro';
---

<Layout>
    <div class="App">
        <div class="flexyyy">
            <Logo client:load />
            <Navbar />
            <LightSwitch />
        </div>
        <div class="container">
            <h1 class="phoneShrink" style="text-align: left; max-width: 1300px;">
                Brad Davis is a creative technologist/music producer specializing in interactive experiences for web and museum contexts. His work addresses themes of queerness, alienation, and memory, integrating technology, design, and narrative to create immersive and meaningful engagements.
            </h1>
            <Projects />
            <Music />
            <About />
        </div>
    </div>
</Layout>
